<style>
    .expand_modal {
        max-width: 100%;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        display: flex;
        position: fixed;
        z-index: 100000;
    }
</style>
{% block main %}
    {% load bootstrap4 %}
    <form method="post" action="{{ action_url }}" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <b class="font-weight-bold text-center"> {{ title }}</b>
                        </div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize"
                            onclick="
                            if (document.getElementById('expand_modal').value === '0'){
                                document.getElementById('expand_modal').value = 1;
                                document.getElementById('action_modal2').className = 'modal-dialog expand_modal';
                                document.getElementById('sub_modal2').className = 'modal-dialog modal-lg expand_modal';
                            }
                            else {
                                document.getElementById('expand_modal').value = 0;
                                document.getElementById('action_modal2').className = 'modal-dialog';
                                document.getElementById('sub_modal2').className = 'modal-dialog modal-lg';
                            }

                            "
                            >
                                <input type="number" value="0" id="expand_modal" hidden>
                                <i class="fas fa-expand"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-dismiss="modal">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if message == 'delete' %}
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <h5 class="font-weight-bold text-center">هل انت متأكد من نقل العنصر
                                "{{ object.name }}"
                                الي سلة المهملات
                                ؟
                            </h5>
                        {% elif message == 'restore' %}
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <h5 class="font-weight-bold text-center">هل انت متأكد من ارجاع العنصر
                                "{{ object.name }}"
                                الى القائمة النشطة مرة اخري
                                ؟
                            </h5>
                        {% elif message == 'super_delete' %}
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <h5 class="font-weight-bold text-center">هل انت متأكد من حذف العنصر
                                
                                {% if object.name %}
                                "{{ object.name }}"
                                {% elif object.order_number %}
                                "{{object.order_number}}"
                                {% else %}
                                "{{ object.product_name }}"
                                {% endif %}
                                    
                                بشكل نهائي
                                ؟
                            </h5>
                        {% elif message == 'operation' %} 
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <h5 class="font-weight-bold text-center"> تأكيد العملية !</h5>   
                        {% elif message == 'info' %}   
                        <img src="{{info_obj.logo.url}}" width="200px" height="200px"> 
                        
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        {% elif message == 'change' %}
                        {% csrf_token %}
                       
                                <label> كلمة المرور القديمة </label>
                                <input class="form-control mb-2" 
                                placeholder="ادخل كلمة المرور القديمة..." 
                                type="password" name="old_password" required>
                            
                        {% bootstrap_form form %}
                        {% else %}
                        {% csrf_token %}
                        {% bootstrap_form form %}
                      
                            
                        <input name="url" type="hidden" class="url_input">
                        <input name="instance" type="hidden"  value="{{ request.user.instance.id }}">
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        {% if message == 'delete' or message == 'super_delete' %}
                           <button type="submit" class="btn btn-danger">
                                <i class="fa fa-save"></i>
                                 نعم
                               
                        </button>
                        {% elif message == 'restore' %}
                           <button type="submit" class="btn btn-info ">
                                <i class="fa fa-save"></i>
                                 نعم
                               
                        </button>
                        {% elif message == 'update' %}
                            <button type="submit" class="btn btn-info font-weight-bold text-center">
                            <i class="fa fa-save"></i>
                            تعديل
                        </button>
                        {% elif message == 'operation' %} 
                        <button type="submit" class="btn btn-info ">
                            <i class="fa fa-save"></i>
                             نعم
                         {% else %}
                            <button type="submit" class="btn btn-success">
                                                            
                            <i class="fa fa-save"></i>
                            حفظ
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-times"></i>
                            الغاء
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block js %}

    <script>
        function get_url() {
            var url_input = $('.url_input');
            url_input.each(function (i) {
                $(this).val(window.location.href);
            });
            return url_input;
        }

        get_url();
    </script>

   

 

{% endblock %} 

