<style>
    .expand_modal {
        max-width: 100%;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        display: flex;
        position: fixed;
        z-index: 100000;
    }
</style>
{% block main %}
    {% load bootstrap4 %}
    {% load  crispy_forms_tags %}
    <form method="POST" action="{{ action_url }}">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <b class="font-weight-bold text-center"> {{ title }}</b>
                        </div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize"
                            onclick="
                            if (document.getElementById('expand_modal').value === '0'){
                                document.getElementById('expand_modal').value = 1;
                                document.getElementById('action_modal2').className = 'modal-dialog expand_modal';
                                document.getElementById('sub_modal2').className = 'modal-dialog modal-lg expand_modal';
                            }
                            else {
                                document.getElementById('expand_modal').value = 0;
                                document.getElementById('action_modal2').className = 'modal-dialog';
                                document.getElementById('sub_modal2').className = 'modal-dialog modal-lg';
                            }

                            "
                            >
                                <input type="number" value="0" id="expand_modal" hidden>
                                <i class="fas fa-expand"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-dismiss="modal">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                       
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{form.username|as_crispy_field}}
                                    </div>
                                </div>    
                                <div class="col-6">
                                    <div class="form-group">
                                        {{form.password|as_crispy_field}}
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        {{form.first_name|as_crispy_field}}
                                    </div>
                                </div>    
                                <div class="col-6">
                                    <div class="form-group">
                                        {{form.last_name|as_crispy_field}}
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                 
                               

                             <div class="col-6">
                                    <div class="form-group">
                                        <i class="fas fa-user-secret fa-2x"></i>
                                        {{form.is_superuser|as_crispy_field}}
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <i class="fas fa-user-check fa-2x"></i>
                                        {{form.is_active|as_crispy_field}}
                                     </div>
                                </div>

                            </div>
                            <input name="url" type="hidden" class="url_input">
                           
                       
                    </div>
                    <div class="card-footer text-center">
                        {% if message == 'delete' or message == 'super_delete' %}
                           <button type="submit" class="btn btn-danger">
                                <i class="fa fa-save"></i>
                                 نعم
                               
                        </button>
                        {% elif message == 'restore' %}
                           <button type="submit" class="btn btn-info ">
                                <i class="fa fa-save"></i>
                                 نعم
                               
                        </button>
                        {% elif message == 'update' %}
                            <button type="submit" class="btn btn-info font-weight-bold text-center">
                            <i class="fa fa-save"></i>
                            تعديل
                        </button>
                         {% else %}
                            <button type="submit" class="btn btn-success">
                            <i class="fa fa-save"></i>
                            حفظ
                        </button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            <i class="fas fa-times"></i>
                            الغاء
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block js %}

    <script>
        function get_url() {
            var url_input = $('.url_input');
            url_input.each(function (i) {
                $(this).val(window.location.href);
            });
            return url_input;
        }

        get_url();
    </script>

   

 


{% endblock %} 

