<div class="main-content" style="background-image: url('/static/assets/images/main.jpg'); background-repeat: no-repeat;
background-size: cover;">

    <div class="page-content">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                        <i class="mdi mdi-check-all mr-2"></i>
                        {{ message|safe }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0 font-size-18">الرئيسية</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">لوحة التحكم</a></li>
                                <li class="breadcrumb-item active">لوحة التحكم</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 ">
                    <a href="" data-toggle="modal" data-target="#factory_modal">
                        <div class="container_new  "> 
                            <div class="card">
                              <div class="imgBx">
                                <img class="image" src="/static/assets/images/vector/factory1.png">
                              </div>
                              <div class="contentBx">
                                <h2>المصانع</h2>
                              </div>
                            </div>
                          </div>
                    </a>
                </div>

                {% if equest.user.has_access_to_spareParts %}
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <a href="{% url 'SpareParts:SparePartsOrderList' %}">
                       <div class="container_new">
                           <div class="card">
                             <div class="imgBx">
                               <img class="image" src="/static/assets/images/vector/print.png">
                             </div>
                             <div class="contentBx">
                               <h2>طلبيات قطع الغيار</h2>
                             </div>
                           </div>
                         </div>
                    </a> 
               </div>

               <div class="col-xl-3 col-lg-6 col-md-6">
                   <a href="{% url 'SpareParts:SparePartsSupplierList' %}">
                       <div class="container_new">
                           <div class="card">
                               <div class="imgBx">
                                   <img class="image" src="/static/assets/images/vector/suppliers.png">
                               </div>
                               <div class="contentBx">
                                   <h2>موردين قطع الغيار</h2>
                               </div>
                           </div>
                       </div>
                   </a>
                   
               </div>

               <div class="col-xl-3 col-lg-6 col-md-6">
                  <a href="{% url 'SpareParts:SparePartsWarehouseList' %}">
                   <div class="container_new">
                       <div class="card">
                           <div class="imgBx">
                               <img class="image" src="/static/assets/images/vector/warehouse.png">
                           </div>
                           <div class="contentBx">
                               <h2>مخازن قطع الغيار</h2>
                           </div>
                       </div>
                   </div>
                  </a>
               </div>

               <div class="col-xl-4 col-lg-6 col-md-6">
                   <a href="{% url 'SpareParts:SparePartsNameList' %}">
                       <div class="container_new">
                           <div class="card">
                               <div class="imgBx">
                                   <img class="image" src="/static/assets/images/vector/sparepartsname.png">
                               </div>
                               <div class="contentBx">
                                   <h2>اصناف قطع الغيار</h2>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="col-xl-4 col-lg-6 col-md-6">
                   <a href="{% url 'SpareParts:SpareTypeList' %}">
                       <div class="container_new">
                           <div class="card">
                               <div class="imgBx">
                                   <img class="image" src="/static/assets/images/vector/sparetype.png">
                               </div>
                               <div class="contentBx">
                                   <h2>انواع قطع الغيار</h2>
                               </div>
                           </div>
                       </div>
                   </a>
               </div>
               {% endif %}

               {% if request.user.has_access_to_machine %}
               <div class="col-xl-4 col-lg-6 col-md-6">
                <a href=""> 
                    <div class="container_new">
                        <div class="card">
                          <div class="imgBx">
                            <img class="image" src="/static/assets/images/vector/Invoice1.png">
                          </div>
                          <div class="contentBx">
                            <h2>مبيعات المكينات</h2>
                          </div>
                        </div>
                      </div>
                </a>  
            </div>
             
             <div class="col-xl-3 col-lg-6 col-md-6">
                  <a href="{% url 'Machines:MachinesOrdersList' %}">
                     <div class="container_new">
                         <div class="card">
                           <div class="imgBx">
                             <img class="image" src="/static/assets/images/vector/print.png">
                           </div>
                           <div class="contentBx">
                             <h2>طلبيات المكينات</h2>
                           </div>
                         </div>
                       </div>
                  </a> 
             </div>

             <div class="col-xl-3 col-lg-6 col-md-6">
                 <a href="{% url 'Machines:suppliers_active_list' %}">
                     <div class="container_new">
                         <div class="card">
                             <div class="imgBx">
                                 <img class="image" src="/static/assets/images/vector/suppliers.png">
                             </div>
                             <div class="contentBx">
                                 <h2>موردين المكينات</h2>
                             </div>
                         </div>
                     </div>
                 </a>
             </div>

             <div class="col-xl-3 col-lg-6 col-md-6">
                 <a href="{% url 'Machines:warehouses_active_list' %}">
                     <div class="container_new">
                         <div class="card">
                             <div class="imgBx">
                                 <img class="image" src="/static/assets/images/vector/warehouse.png">
                             </div>
                             <div class="contentBx">
                                 <h2>مخازن المكينات</h2>
                             </div>
                         </div>
                     </div>
                 </a>
             </div>

             <div class="col-xl-3 col-lg-6 col-md-6">
                 <a href="{% url 'Machines:names_active_list' %}">
                     <div class="container_new">
                         <div class="card">
                             <div class="imgBx">
                                 <img class="image" src="/static/assets/images/vector/sparepartsname.png">
                             </div>
                             <div class="contentBx">
                                 <h2>اصناف المكينات</h2>
                             </div>
                         </div>
                     </div>
                 </a>
             </div>

             <div class="col-xl-4 col-lg-6 col-md-6">
                 <a href="{% url 'Machines:types_active_list' %}">
                     <div class="container_new">
                         <div class="card">
                             <div class="imgBx">
                                 <img class="image" src="/static/assets/images/vector/sparetype.png">
                             </div>
                             <div class="contentBx">
                                 <h2>انواع المكينات</h2>
                             </div>
                         </div>
                     </div>
                 </a>
             </div> 

               {% endif %}
               
                {% if request.user.has_access_to_treasury %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <a data-toggle="modal" data-target="#bank_invoice_modal">
                        <div class="container_new">
                            <div class="card">
                                <div class="imgBx">
                                    <img class="image" src="/static/assets/images/vector/bank1.png">
                                </div>
                                <div class="contentBx">
                                    <h2>الخزائن والحسابات البنكية</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}

                
                {% if request.user.has_access_to_products %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <a data-toggle="modal" data-target="#product_modal">
                        <div class="container_new">
                            <div class="card">
                                <div class="imgBx">
                                    <img class="image" src="/static/assets/images/vector/product.png">
                                </div>
                                <div class="contentBx">
                                    <h2>المنتجات</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
              
            {% if request.user.has_access_to_worker %}
            <div class="col-xl-4 col-lg-6 col-md-6">
                <a data-toggle="modal" data-target="#worker_modal">
                    <div class="container_new">
                        <div class="card">
                            <div class="imgBx">
                                <img class="image" src="/static/assets/images/vector/worker.png">
                            </div>
                            <div class="contentBx">
                                <h2>العمال</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            {% endif %}
                
            {% if request.user.has_access_to_worker %}
            <div class="col-xl-4 col-lg-6 col-md-6">
                <a data-toggle="modal" data-target="#seller_modal">
                    <div class="container_new">
                        <div class="card">
                            <div class="imgBx">
                                <img class="image" src="/static/assets/images/vector/seller.png">
                            </div>
                            <div class="contentBx">
                                <h2>التجار</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            {% endif %}
                

                <div class="col-xl-4 col-lg-6 col-md-6">
                    <a data-toggle="modal" data-target="#search_modal">
                        <div class="container_new">
                            <div class="card">
                                <div class="imgBx">
                                    <img class="image" src="/static/assets/images/vector/search.png">
                                </div>
                                <div class="contentBx">
                                    <h2>البحث</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6">
                    <a data-toggle="modal" data-target="#user_invoice_modal">
                        <div class="container_new">
                            <div class="card">
                                <div class="imgBx">
                                    <img class="image" src="/static/assets/images/vector/users.png">
                                </div>
                                <div class="contentBx">
                                    <h2> المستخدمين</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                   
                </div>

                

                
            </div>

          
            <!-- end row -->
        </div>
        <!-- container-fluid -->
    </div>
    
</div>