body {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
	width: 100%;
}

.prods {
	width: 127%;
	margin-left: -85px;
	font-size: 25px;
}

td, th {
    border: 1px solid #6495ED;
    text-align: center;
    padding: 5px;
}

.prods tr:nth-child(odd) {
    background-color: white;
    border: 1px solid #6495ED;
}

.prods tr:nth-child(even) {
    background-color: white;
    border: 1px solid #6495ED;
}

#shop_name {
    transform: scale(1.2, 1.2);
}


