{% extends "base.html" %}
{% block title %}
<title>قائمة العمال</title>

{% endblock title %}

{% block main %}
    <div class="main-content">

      <div class="page-content">
          <div class="container-fuild">
           
                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}

            
                      {% endif %}
                    </div>
                   
                </div>
              
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            
                            {% if type == "list" %}
                                <h4 class="mb-0"> قائمة العمال
                                    <a class="badge badge-success" style="font-size:small;" href="{% url 'Workers:WorkerCreate' %}" data-toggle="modal" data-target="#action_modal">
                                            <i class="fas fa-plus-square fx-2"></i>
                                    </a>

                                    <a class="badge badge-info" style="font-size:small;" href="{% url 'Workers:WorkerList' %}">
                                       <i class="fas fa-list-ul"></i>
                                    </a>
                                     
                                    <a  class="badge badge-danger" style="font-size:small;" href="{% url 'Workers:WorkerTrachList' %}">
                                            <i class="fas fa-trash"></i>
                                    </a>
                                     
                                 </h4>
                                
                                {% else %}
                                <h4 class="mb-0"> سلة مهملات العمال
                                    <a class="badge badge-success" style="font-size:small;" href="{% url 'Workers:WorkerCreate' %}" data-toggle="modal" data-target="#action_modal">
                                            <i class="fas fa-plus-square fx-2"></i>
                                    </a>

                                    <a class="badge badge-info" style="font-size:small;" href="{% url 'Workers:WorkerList' %}">
                                       <i class="fas fa-list-ul"></i>
                                    </a>
                                     
                                    <a  class="badge badge-danger" style="font-size:small;" href="{% url 'Workers:WorkerTrachList' %}">
                                            <i class="fas fa-trash"></i>
                                    </a>
                                     
                                 </h4>
                            
                            {% endif %}
                            
                             
                            
                                <span class="badge badge-dark font-size-15"> الاجمالي : {{count}} العمال </span>
                               

                           
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>

                                    {% if type == "list" %}
                                    <li class="breadcrumb-item active">قائمة العمال</li>
                                    {% else %}
                                    <li class="breadcrumb-item active">قائمة العمال المحذوفة</li>
                                    {% endif %}
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

                {% if object_list %}
                <div class="row">
                {% for x in object_list  %}
                <div class="col-xl-3 col-sm-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <div class="mb-4">
                                {% if x.image %}
                                <img class="rounded-circle avatar-xl" src="{{x.image.url}}" alt="">
                                {% else %}
                                <img class="rounded-circle avatar-xl" src="/static/assets/images/vector/worker.png" alt="">
                                {% endif %}

                            </div>
                            <h3 >{{x.name}}</h3>
                            <p class="text-muted">{{x.get_worker_type_display}}</p>

                            <div style="margin-top: 5px;">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item mr-1">
                                        <div >
                                            <a href="{% url 'Workers:WorkerAttendances' x.id %}" data-toggle="modal" data-target="#sub_modal" data-placement="top" title="" data-original-title="Message">
                                                <span class="badge  badge-success"  style="padding: 5px;"><i class="fas fa-calendar-check"></i> الحضور</span>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="list-inline-item mr-1">
                                        <div>
                                            <a href="{% url 'Workers:WorkerPayment' x.id %}" data-toggle="modal" data-target="#sub_modal" data-placement="top" title="" data-original-title="Message">
                                                <span class="badge  badge-warning"  style="padding: 5px;"><i class="fas fa-hand-holding-usd"></i> المسحوبات</span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                                

                            </div>
                        </div>
                        {% comment %} footer {% endcomment %}
                        <div class="card-footer bg-transparent border-top">
                            <div class="contact-links d-flex justify-content-center font-size-20">
                              {% if request.user.is_superuser %}
                              {% if type == "list"  %}
  
                              <div class="mr-3">
                                   <a href="{% url 'Workers:WorkerUpdate' x.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Message">
                                       <span class="badge  badge-info"><i class='bx bx-edit' ></i>تعديل</span>
                                  </a>
                               </div>
      
                              <div class="">
                                  <a href="{% url 'Workers:WorkerDelete' x.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Profile">
                                      <span class="badge  badge-danger"><i class='bx bxs-trash'  ></i>حذف</span>
                                  </a>
                              </div>
                          {% else %}
                               <div class="mr-3">
                                      <a href="{% url 'Workers:WorkerRestore' x.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Message">
                                          <span class="badge badge-dark"><i class='bx bx-redo '></i> استرجاع
                                          </span>
                                      </a>
                              </div>
  
                              <div class="">
                                  <a href="{% url 'Workers:WorkerSuperDelete' x.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Profile">
                                      <span class="badge badge-danger"><i class='bx bxs-trash '   ></i> حذف نهائي </span>
                                       
                                  </a>
                              </div>
                          {% endif %}
                              {% endif %}
                                
                              </div>
                        </div>
                    </div>
                </div>
                {% endfor %}


                </div>

                {% if is_paginated %}
                {% include "components/paginator.html" %}
                {% endif %}

                {% else %}

                <div class="row">

                    <div class="col-lg-12">
                        <div class="text-center mb-5 mt-5">
                            <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                            {% if type == "list" %}
                            <h4 class="text-uppercase">لا توجد بيانات</h4>
                            {% else %}
                            <h4 class="text-uppercase">لا توجد بيانات محذوفة</h4>
                            {% endif %}
                            <div class="mt-3 text-center">
                                
                                {% if type == "list" %}
                                    <a class="btn btn-primary waves-effect waves-light" href="{% url 'SpareParts:SparePartsNameCreate' %}" data-toggle="modal" data-target="#action_modal">اضافة بيانات</a>
                                {% endif %}
                                    
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 d-flex justify-content-center ">
                
                        <img src="/static/assets/images/error-img.png" width="400px" height="188px" alt="" class="img-fluid" >
                
                    </div>
                </div>

                {% endif %}

          </div>
      </div>
  </div>
{% endblock main %}
