{% load custom_tags %} 
{% load crispy_forms_tags %}
<style>
  .expand_modal {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 100000;
  }
</style>

<div class="card">
  <div class="card-header">
    <div class="card-title">
      <b class="font-weight-bold text-center"> {{ title }}</b>
    </div>
    <div class="card-tools">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="maximize"
        onclick="
            if (document.getElementById('expand_modal').value === '0'){
                document.getElementById('expand_modal').value = 1;
                document.getElementById('action_modal2').className = 'modal-dialog expand_modal';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl expand_modal';
            }
            else {
                document.getElementById('expand_modal').value = 0;
                document.getElementById('action_modal2').className = 'modal-dialog';
                document.getElementById('sub_modal2').className = 'modal-dialog modal-xl';
            }

            "
    >
        <input type="number" value="0" id="expand_modal" hidden />
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-dismiss="modal">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <!-- مسحوبات المصنع -->
          <div class="tab-pane" id="processing" role="tabpanel">
            <div class="row">
              <div class="col-lg-12">
                <div class="bg-dark">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="p-3">
                        <h3
                          class="text-center font-weight-bold"
                          style="color: white"
                        >
                          <i class="fas fa-hand-holding-usd"></i>
                          مسحوبات العامل
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-responsive" id="order_list">
                  <table class="table table-nowrap mb-0">
                    <thead>
                      <form>
                        <tr>
                          <th
                            class="col-lg-2 col-xl-2 col-md-1"
                            style="width: 20%"
                          >
                            {{form.date|as_crispy_field}}
                          </th>
                          <th
                            class="col-lg-2 col-xl-2 col-md-1"
                            style="width: 30%"
                          >
                            {{form.price|as_crispy_field}}
                          </th>
                          <th
                            class="col-lg-3 col-xl-3 col-md-2"
                            style="width: 30%"
                          >
                            {{form.admin|as_crispy_field}}
                          </th>
                          
                          <th class="col-lg-2 col-xl-2 col-md-2">
                            <button
                              style="width: 100%"
                              onclick="PaymentCreate()"
                              class="btn btn-success"
                            >
                            <i class="fas fa-plus-circle"></i>
                              اضافة
                            </button>
                          </th>
                          <th class="col-lg-2 col-xl-1 col-md-2">
                            <a href="{% url 'Workers:WorkerPaymentReport' object.id %}"
                              style="width: 100%"
                              class="btn btn-primary"
                              target='_blank'
                            >
                            <i class="fas fa-file-alt"></i>
                                تقرير 
                            </a>
                          </th>
                        </tr>
                      </form>
                    </thead>
                  </table>
                </div>
                <style>
                  .table-responsive {
                    max-height: 500px;
                  }
                  .table-responsive::-webkit-scrollbar {
                    display: none;
                  }
                </style>

                <div class="card-body" id="paymnet">
                  <div class="table-responsive">
                    <table
                      class="table table-centered table-dark table-nowrap text-center"
                    >
                      <thead style="background-color: #0c2b4b">
                        <tr>
                          <th>م</th>
                          <th>التاريخ</th>
                          <th>المبلغ</th>
                          <th>المسئول</th>
                          <th><i class="fas fa-cogs"></i></th>
                        </tr>
                      </thead>
                      <tbody>
                          {% if payment %}
                            {% for x in payment %}
                            <tr style="text-align: center">
                                <td>{{forloop.counter}}</td>
                                <td>
                                <span class="badge badge-danger"
                                    ><i class="fas fa-calendar-alt"></i>
                                    {{x.date|date:'Y-m-d'}}</span
                                >
                                </td>
                                <td>
                                <i class="fas fa-dollar-sign"></i> {{x.price}}
                                </td>
                                <td><i class="fas fa-user-tie"></i> {{x.admin}}</td>
                                {% if request.user.is_superuser %}
                                <td>
                                <a
                                    href="{% url 'Workers:WorkerPaymentUpdate' x.id %}"
                                    class="mr-3 text-warning"
                                    data-toggle="modal"
                                    data-target="#action_modal"
                                    data-original-title="Edit"
                                    ><i class="mdi mdi-pencil font-size-18"></i
                                ></a>
                                <a
                                    onclick="WorkerPaymentDelete('{{x.id}}')"
                                    style="cursor: pointer"
                                    class="text-danger"
                                    ><i class="mdi mdi-close font-size-18"></i
                                ></a>
                                </td>
                                {% endif %}
                                
                            </tr>
                            {% endfor %}
                          {% endif %}
                      </tbody>
                    </table>
                  </div>

                  <div style="margin-top: 10px">
                    <div class="row">
                     
                      <div class="col-lg-4">
                        <div class="card mini-stats-wid mb-0">
                          <div class="card-body bg-danger">
                            <div class="d-flex flex-wrap">
                              <div class="">
                                <h5 class="mb-2 text-light">
                                  اجمالي المسحوبات
                                </h5>
                                <h3 class="mb-0 text-dark">
                                  {{payment_sum}} جنية
                                </h3>
                              </div>

                              <div class="avatar-sm ml-auto">
                                <div
                                  class="avatar-title bg-light rounded-circle text-dark font-size-20"
                                >
                                  <i class="fas fa-hand-holding-usd"></i>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                    </div>
                  </div>
                </div>

                <script>
                  function PaymentCreate() {
                    $.ajax({
                      type: "POST",
                      url: "{% url 'Workers:WorkerPaymentCreate'  %}",
                      data: {
                        id: "{{object.id}}",
                        date: $("#date").val(),
                        price: $("#price").val(),
                        admin: $("#admin").val(), 
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        dataType: "json",
                      },
                      success: function (response) {
                        /* response message */
                        if (response.msg == 1) {
                          $("#price").val("");
                          $("#subject").val("");
                          $("#admin").val("");
                          $("#paymnet")
                            .html("&nbsp;")
                            .load(
                              "{% url 'Workers:WorkerPayment_div' object.id %}"
                            );
                          alert("تم الاضافة بنجاح");
                        } else {
                          alert("حاول مرة اخري / خطأ في البيانات");
                        }
                      },

                      failure: function () {},
                    });
                  }

                  function WorkerPaymentDelete(payment_id) {
                    $.ajax({
                      type: "POST",
                      url: "{% url 'Workers:WorkerPaymentDelete' %}",
                      data: {
                        payment_id: payment_id,
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        dataType: "json",
                      },
                      success: function (data) {
                        /* response message */
                        $("#paymnet")
                          .html("&nbsp;")
                          .load(
                            "{% url 'Workers:WorkerPayment_div' object.id %}"
                          );
                        alert("تم الحذف بنجاح");
                      },

                      failure: function () {},
                    });
                  }
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
