{% extends "base.html" %}
{% load custom_machine_tags %}
{% block main %}

    <div class="main-content">

      <div class="page-content">
          <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">
                                {% if message == 'trash' %}
                                سلة مهملات
                                {% endif %}
                                مخازن الماكينات
                            <a class="badge badge-success" style="font-size:small;" href="{% url 'Machines:warehouses_create' %}" data-toggle="modal" data-target="#action_modal">
                                <i class="fas fa-plus-square fx-2"></i>
                            </a>

                            <a class="badge badge-info" style="font-size:small;" href="{% url 'Machines:warehouses_active_list' %}">
                               <i class="fas fa-list-ul"></i>
                            </a>

                            <a  class="badge badge-danger" style="font-size:small;" href="{% url 'Machines:warehouses_trash_list' %}">
                                    <i class="fas fa-trash"></i>
                            </a>
                            </h4>
                            <span class="badge badge-dark font-size-15"> الاجمالي : {{count}} مخزن </span>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
                                    <li class="breadcrumb-item active">مخازن الماكينات
                                    {% if message == 'trash' %}
                                    المحذوفة
                                    {% endif %}
                                    </li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>


                {% if object_list %}
                <div class="row">
                {% for x in object_list %}
                {% warehouse_products x.id as has_products %}
                <div class="col-xl-3 col-sm-6">
                  <div class="card text-center">
                      <div class="card-body">
                          <div class="avatar-sm mx-auto mb-4 mt-4">
                              <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                                <img src="/static/assets/images/vector/store.jpg" alt="" width="150px" height="100px">

                              </span>
                          </div>
                          <h3 ><a href="{% url 'Machines:warehouses_detail' x.id %}"  data-target="#sub_modal" data-toggle="modal" class="text-dark"> {{x.name}}</a></h3>

                      </div>
                      <div class="card-footer bg-transparent border-top">
                          <div class="contact-links d-flex justify-content-center font-size-20">
                              {% if message == 'active' %}
                              <div class="mr-3">
                                  <a href="{% url 'Machines:warehouses_detail' x.id %}"
                                  data-target="#sub_modal" data-toggle="modal"
                                  class="badge badge-dark waves-effect text-white waves-light">
                                      <i class="bx bx-area font-size-16 align-middle mr-2"></i> المخزون
                                  </a>
                              </div>

                              <div class="mr-3">
                                  <a href="{% url 'Machines:warehouses_update' x.id %}" data-toggle="modal" data-target="#action_modal" class="badge badge-info waves-effect text-white waves-light">
                                    <i class="bx bxs-edit font-size-16 align-middle mr-2"></i> تعديل
                                  </a>
                              </div>

                              <div class="mr-3">
                                  <a
                                      {% if has_products %}
                                        href="#"
                                      {% else %}
                                        href="{% url 'Machines:warehouses_delete' x.id %}" data-toggle="modal" data-target="#action_modal"
                                      {% endif %}
                                        class="badge badge-danger waves-effect text-white waves-light">
                                      {% if has_products %}
                                      <span style="text-decoration: line-through;" data-placement="top" title="لايمكن الحذف .. المخزن يحتوي علي منتجات">
                                      <i class="bx bxs-trash font-size-16 align-middle mr-2"></i> حذف
                                      </span>
                                      {% else %}
                                      <span>
                                      <i class="bx bxs-trash font-size-16 align-middle mr-2"></i> حذف
                                      </span>
                                      {% endif %}
                                  </a>
                              </div>
                              {% endif %}
                                {% if message == 'trash' %}
                              <div class="mr-3">
                                  <a href="{% url 'Machines:warehouses_restore' x.id %}" data-toggle="modal" data-target="#action_modal" class="badge badge-info waves-effect text-white waves-light">
                                    <i class="bx bx-redo font-size-16 align-middle mr-2"></i> ارجاع
                                  </a>
                              </div>

                              <div class="mr-3">
                                  <a href="{% url 'Machines:warehouses_super_delete' x.id %}" data-toggle="modal" data-target="#action_modal" class="badge badge-danger waves-effect text-white waves-light">
                                    <i class="bx bxs-trash font-size-16 align-middle mr-2"></i> حذف نهائي
                                  </a>
                              </div>
                              {% endif %}
                          </div>
                      </div>
                  </div>
                </div>

                {% endfor %}


              </div>

                {% if is_paginated %}
                {% include "components/paginator.html" %}
                {% endif %}

                {% else %}

                <div class="row">

                              <div class="col-lg-12">
                                  <div class="text-center mb-5 mt-5">
                                      <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                                      <h4 class="text-uppercase">لا توجد بيانات
                                      {% if message == 'trash' %}
                                        محذوفة
                                      {% endif %}
                                      </h4>
                                      {% if message == 'active' %}
                                      <div class="mt-3 text-center">
                                          <a class="btn btn-primary waves-effect waves-light" href="{% url 'Machines:warehouses_create' %}" data-toggle="modal" data-target="#action_modal">اضافة بيانات</a>
                                      </div>
                                      {% endif %}
                                  </div>
                              </div>
                          </div>

                <div class="row d-flex justify-content-center">
                              <div class="col-lg-12 d-flex justify-content-center ">

                                  <img src="/static/assets/images/error-img.png" width="400px" height="188px" alt="" class="img-fluid" >

                              </div>
                          </div>

                {% endif %}

          </div>
      </div>
  </div>
{% endblock main %}
