{% extends "base.html" %}
{% block title %}
<title>قائمة المنتجات</title>

{% endblock title %}


{% block main %}
    <div class="main-content">

      <div class="page-content">
          <div class="container-fuild">
           
                <div class="row">
                    <div class="col-12"> {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
                            <i class="mdi mdi-check-all mr-2"></i>
                            {{ message|safe }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        {% endfor %}

            
                      {% endif %}
                    </div>
                   
                </div>
              
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            
                            {% if type == "list" %}
                                <h4 class="mb-0"> قائمة المنتجات
                                    <a class="badge badge-success" style="font-size:small;" href="{% url 'Products:ProductCreate' %}" data-toggle="modal" data-target="#action_modal">
                                            <i class="fas fa-plus-square fx-2"></i>
                                    </a>

                                    <a class="badge badge-info" style="font-size:small;" href="{% url 'Products:ProductList' %}">
                                       <i class="fas fa-list-ul"></i>
                                    </a>
                                     
                                    <a  class="badge badge-danger" style="font-size:small;" href="{% url 'Products:ProductTrachList' %}">
                                            <i class="fas fa-trash"></i>
                                    </a>
                                     
                                 </h4>
                                
                                {% else %}
                                <h4 class="mb-0"> سلة مهملات المنتجات
                                    <a class="badge badge-success" style="font-size:small;" href="{% url 'Products:ProductCreate' %}" data-toggle="modal" data-target="#action_modal">
                                            <i class="fas fa-plus-square fx-2"></i>
                                    </a>

                                    <a class="badge badge-info" style="font-size:small;" href="{% url 'Products:ProductList' %}">
                                       <i class="fas fa-list-ul"></i>
                                    </a>
                                     
                                    <a  class="badge badge-danger" style="font-size:small;" href="{% url 'Products:ProductTrachList' %}">
                                            <i class="fas fa-trash"></i>
                                    </a>
                                     
                                 </h4>
                            
                            {% endif %}
                            
                             
                            
                                <span class="badge badge-dark font-size-15"> الاجمالي : {{count}} منتج </span>
                               

                           
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>

                                    {% if type == "list" %}
                                    <li class="breadcrumb-item active">قائمة المنتجات</li>
                                    {% else %}
                                    <li class="breadcrumb-item active">قائمة المنتجات المحذوفة</li>
                                    {% endif %}
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>

                {% if object_list %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row mb-3">
                            <div class="col-lg-12 col-sm-6">
                                <form class="mt-4 mt-sm-0 float-sm-right form-inline">
                                    <div class="search-box mr-2">
                                        <div class="position-relative">
                                            <form class="app-search d-none d-lg-block" method="get"  action="{% url 'Core:ProductSearch' %}">
                                                <div class="position-relative" >

                                                    <input type="text" value="{{product_serach}}" list="produ"  class="form-control border-0" style="border-radius: 0" name="product" placeholder="بحث ... بإسم المنتج">
                                                    <span >
                                                        <button class="bx bx-search-alt btn btn-warning" style="border-radius: 0" type="submit"></button>
                                                    </span>
                                                    <datalist id="produ" >
                                                        {% for pro in products %}
                                                            <option value="{{ pro.name }}">
                                                                {{ pro.name }}
                                                                </option>
                                                        {% endfor %}
                                                    </datalist>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <div class="row">
                    {% for x in object_list  %}
                        <div class="col-xl-3 col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="product-img position-relative">
                                        <div class="avatar-sm product-ribbon">
                                            <span class="avatar-title rounded-circle  bg-primary">
                                                {{x.quantity}}
                                                ق
                                            </span>
                                        </div>
                                        {% if x.image %}
                                        <img src="{{x.image.url}}" width="250px" height="250px" alt="" class="img mx-auto d-block">
                                        {% else %}
                                        <img src="/static/assets/images/product/img-1.png" width="250px" height="250px" alt="" class="img mx-auto d-block">
                                        {% endif %}
                                       
                                    </div>

                                    <div class="mt-4 text-center">
                                        <h3 class="mb-3 text-truncate"><a href="#" class="text-dark">{{x.name}}</a></h3>
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item mr-1"><h5 class="my-0"><span class="text-muted mr-1">الكود:</span> <b>{{x.code}}</b></h5></li>
                                            <li class="list-inline-item mr-1"><h5 class="my-0"><span class="text-muted mr-1">السعر:</span> <b>${{x.price}}</b></h5></li>
                                            <li class="list-inline-item mr-1"><h5 class="my-0"><span class="text-muted mr-1">الوزن:</span> <b>{{x.weight}} جرام</b></h5></li>
                                        </ul>
                                        
                                    </div>
                                    <div class="card-footer bg-transparent border-top">
                                        <div class="contact-links d-flex justify-content-center font-size-20">
                                          {% if request.user.is_superuser %}
                                          {% if type == "list"  %}
              
                                          <div class="mr-3">
                                               <a href="{% url 'Products:ProductUpdate' x.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Message">
                                                   <span class="badge  badge-info"><i class='bx bx-edit' ></i>تعديل</span>
                                              </a>
                                           </div>
                  
                                          <div class="">
                                              <a
                                                  {% if x.quantity <= 0 %}
                                                  href="{% url 'Products:ProductDelete' x.id %}" data-toggle="modal" data-target="#action_modal"
                                                  {% else %}
                                                  href="#"
                                                  {% endif %}
                                                  data-placement="top" title="" data-original-title="Profile">
                                                  {% if x.quantity > 0 %}
                                                  <span class="badge badge-danger" style="text-decoration: line-through;" data-placement="top" title="لايمكن الحذف .. المنتج يحتوي علي كميات"><i class='bx bxs-trash' ></i>حذف</span>
                                                  {% else %}
                                                  <span class="badge badge-danger"><i class='bx bxs-trash'  ></i>حذف</span>
                                                  {% endif %}
                                              </a>
                                          </div>
                                      {% else %}
                                           <div class="mr-3">
                                                  <a href="{% url 'Products:ProductRestore' x.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Message">
                                                      <span class="badge badge-dark"><i class='bx bx-redo '></i> استرجاع
                                                      </span>
                                                  </a>
                                          </div>
              
                                          <div class="">
                                              <a href="{% url 'Products:ProductSuperDelete' x.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Profile">
                                                  <span class="badge badge-danger"><i class='bx bxs-trash '   ></i> حذف نهائي </span>
                                                   
                                              </a>
                                          </div>
                                      {% endif %}
                                          {% endif %}
                                            
                                          </div>
                                    </div>
                                    {% if x.deleted == 0 %}
                                    <div class="card-footer bg-transparent border-top">
                                        <div class="contact-links d-flex justify-content-center font-size-20">
                                          <div class="mr-3">
                                           <a href="{% url 'Products:AddProductQuantity' x.id %}" data-toggle="modal" data-target="#action_modal" data-placement="top" title="" data-original-title="Message">                                                   <span class="btn btn-outline-secondary"><i class='bx bx-plus-circle' ></i>اضافة كمية جديدة</span>
                                              </a>
                                           </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                   
                    {% endfor %}

                    {% if is_paginated %}
                    {% include "components/paginator.html" %}
                    {% endif %}
    
                </div>


                </div>

                
                {% else %}

                <div class="row">

                    <div class="col-lg-12">
                        <div class="text-center mb-5 mt-5">
                            <h1 class="display-2 font-weight-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>4</h1>
                            {% if type == "list" %}
                            <h4 class="text-uppercase">لا توجد بيانات</h4>
                            {% else %}
                            <h4 class="text-uppercase">لا توجد بيانات محذوفة</h4>
                            {% endif %}
                            <div class="mt-3 text-center">
                                
                                {% if type == "list" %}
                                    <a class="btn btn-primary waves-effect waves-light" href="{% url 'Products:ProductCreate' %}" data-toggle="modal" data-target="#action_modal">اضافة بيانات</a>
                                {% endif %}
                                    
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12 d-flex justify-content-center ">
                
                        <img src="/static/assets/images/error-img.png" width="400px" height="188px" alt="" class="img-fluid" >
                
                    </div>
                </div>

                {% endif %}

          </div>
      </div>
    </div>
    </div>

{% endblock main %}
